body{
background-image: url('Diagonal-Lines.jpg');
  padding-left: 10%;
  padding-bottom: 20%;
  background-image: url(anime-rain-city-center-tq9b3awo4no8jvu4.gif) center;
}
h1{
  text-align: center;
  background-color: rgba(247, 247, 247, 0.918);

}.gallery{
  width: 200px;
}
  